body {
	background-color: #f7f7f7;
	margin: 50px auto 0 auto;
	width: 800px;
}

#dropzoneWrap {
	background-color: #fff;
	border: 5px solid #f1f1f1;
	padding-bottom: 20px;
	padding-top: 20px;
}

#dropzone {
	background-color: #f7f7f7;
	border: 5px dashed #e7e7e7;
	color: #e0e0e0;
	font-family: Arial, sans-serif;
	font-size: 2em;
	height: 500px;
	margin: auto;
	overflow: scroll;
	overflow-x: hidden;
	text-align: center;
	width: 750px;
}

#dropzoneLabel {
	position: relative;
	top: 45%;
}

#dropzone .file {
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(245, 245, 245)), to(rgb(229, 229, 229)));
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(229, 229, 229));
	background-image: -moz-linear-gradient(top, rgb(245, 245, 245), rgb(229, 229, 229));
	background-image: -o-linear-gradient(top, rgb(245, 245, 245), rgb(229, 229, 229));
	background-image: -ms-linear-gradient(top, rgb(245, 245, 245), rgb(229, 229, 229));
	background-image: linear-gradient(top, rgb(245, 245, 245), rgb(229, 229, 229));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f5f5f5', EndColorStr='#e5e5e5');
	color: #909090;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding: 20px;
	text-align: left;
	width: 710px;
}

#dropzone .file .name {
	float: left;
	width: 90%;
}

#dropzone .file .progress {
	float: right;
	width: 10%;
}

#footer {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

#footer, #footer a {
	color: #c5c5c5;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}